:root {
  --main-white: #FFFFFF;
  --main-dirty-white: #F2F4F3;
  --main-dark: #000000;
  --main-gray: #565456;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rockwell', sans-serif;
  line-height: 1.4;
  color: var(--main-white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-gray);
  cursor: pointer;
  font-size: 20px;
}

a:hover {
  color: var(--main-dark)
}

.navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  background-color: var(--main-white);
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  padding: 10px 20px;
}

.hero {
  background-color: var(--main-dirty-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.profile {
  margin: 100px 50px 0 0;
  color: var(--main-dark);
  text-align: center;
}

.profile h6 {
  font-size: 30px;
  font-weight: 100;
  padding: 0 0 20px 0;
}

.profile h3 {
  font-size: 40px;
  font-weight: 200;
  padding: 20px 0 20px 0;
}

.profile h1 {
  font-size: 140px;
  font-weight: 400;
  font-family: "Merriweather";
  padding: 20px 0;
}

.profile p {
  padding: 20px 0;
}

.profile p a {
  cursor: pointer;
  color: var(--main-dark);
}

.underline {
  border-top: 3px solid var(--main-dark);
  width: 300px;
  margin: 0 auto;
}

.hero-image img {
  height: 100vh;
  margin-left: 50px;
}